# dependências
/node_modules

# build do Next.js
/.next
/out

# ambiente e segredos — NUNCA versionar
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Prisma (gerado em tempo de build)
src/generated
